body {
  background-color:
}

h1, form {
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  display:flex;
  justify-content: center;
}

h2 {
  display:flex;
  justify-content: center;
}

h3 {
  display:flex;
  justify-content: center;
}

p {
  display:flex;
  justify-content: center;
}


.saved-for-later-item {
  display:flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../public/images/unnamed.png');
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
  /* border-style: double; */
  /* border-radius: 10px; */
  margin: 10px;
  padding: 30px;
  display: list-item;
  list-style: none;
}

#saved-for-later {
  display:flex;
  justify-content: center;
}

#new-item-form {
  display:flex;
  justify-content: space-between;
}

.delete {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
